/*--------------------------------------------*/
/* BASIC SETUP
/*--------------------------------------------*/

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #2a840f;
    font-family: 'Lato', 'Arial', 'Sans-Serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*--------------------------------------------*/
/* REUSABLE COMPONENT
/*--------------------------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}
.box{
    padding: 1%;
}

/*--------------------------------------------*/
/* HEADING
/*--------------------------------------------*/

h1,h2,h3 {
/*
    margin-top: 0;
    
*/
    
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: chocolate;
}

h2:after {
    display: block;
    height: 2px;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    letter-spacing: 1px;
    background-color: #e67e22;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}
/*--------------------------------------------*/
/* PARAGRAphs
/*--------------------------------------------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    
}
.box p {
    font-size: 90%;
    line-height: 145%;
}
/*--------------------------------------------*/
/* ICONS
/*--------------------------------------------*/
.big-icon{
    font-size: 280%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    margin: 0 auto;
   
}
/*--------------------------------------------*/
/* BUTTONS
/*--------------------------------------------*/
.btn:link,
.btn:visited,
input [type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s; color 0.2s;
}

.btn-full:link,
.btn-full:visited, 
input [type=submit]{
    background: #e67e22;
    border: 1px solid #e67e22;
    color:#fff;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input [type=submit]:hover{
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active, 
input [type=submit]{
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}

/*--------------------------------------------*/
/* HEADER
/*--------------------------------------------*/

header {
    background-image: url('img/manOnJogaMat.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav {
    float: right;
    list-style: none;
    
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
    margin-top: 60px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #2a840f;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*--------------------------------------------*/
/* form
/*--------------------------------------------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    
}
textarea {
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}
*:focus{
    outline: none;
}

/*--------------------------------------------*/
/* FOOTER
/*--------------------------------------------*/

footer {
    background-color: #333;
    padding: 40px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li, .social-links li {
    display: inline-block;
    margin-right: 20px;
} 
.footer-nav li: last-child,
.social-links li: last-child {
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 30px;
}
.section-features {
    background-color:#f4e9e9;
}  

